In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_raw = pd.read_csv('train_dataset_cleaned.csv', encoding='utf_16', index_col='Registration_Number')
df = data_raw.copy()

df.head()

,Annual_Turnover,Cuisine,City,Restaurant_Location,Opening_Day_of_Restaurant,Facebook_Popularity_Quotient,Endorsed_By,Instagram_Popularity_Quotient,Fire_Audit,Liquor_License_Obtained,...,Live_Music_Rating,Comedy_Gigs_Rating,Value_Deals_Rating,Live_Sports_Rating,Ambience,Lively,Service,Comfortablility,Privacy,State
Registration_Number,,,,,,,,,,,,,,,,,,,,,
60001,42000000,"indian,irish",Bangalore,Near Business Hub,2009-02-14,84.3,Not Specific,95.8,True,True,...,4.0,NaN,NaN,NaN,8.0,8,6,6,6,Karnataka
60002,50000000,"indian,irish",Indore,Near Party Hub,2008-09-29,85.4,Tier A Celebrity,85.0,True,True,...,NaN,4.0,NaN,NaN,5.0,7,7,3,8,Madhya Pradesh
60003,32500000,"tibetan,italian",Chennai,Near Business Hub,2011-07-30,85.0,Tier A Celebrity,68.2,True,True,...,3.0,NaN,NaN,NaN,7.0,10,5,2,8,Tamil Nadu
60004,110000000,"turkish,nigerian",Gurgaon,Near Party Hub,2008-11-30,85.6,Tier A Celebrity,83.6,False,True,...,6.0,NaN,NaN,NaN,7.0,7,4,3,5,Haryana
60005,20000000,"irish,belgian",Manesar,Near Party Hub,2010-02-22,NaN,Tier A Celebrity,76.8,True,True,...,NaN,2.0,NaN,NaN,NaN,6,2,4,6,Haryana

In [3]:
df_train = df[['Annual_Turnover', 'Restaurant_Location','Facebook_Popularity_Quotient','Endorsed_By','Instagram_Popularity_Quotient','Fire_Audit','Liquor_License_Obtained','Situated_in_a_Multi_Complex','Dedicated_Parking','Open_Sitting_Available','Resturant_Tier','Restaurant_Type','Restaurant_Zomato_Rating','Restaurant_City_Tier','Order_Wait_Time','Staff_Responsivness','Value_for_Money','Hygiene_Rating','Food_Rating','Overall_Restaurant_Rating','Ambience','Lively','Service','Comfortablility','Privacy']].copy()

df_train.head()

,Annual_Turnover,Restaurant_Location,Facebook_Popularity_Quotient,Endorsed_By,Instagram_Popularity_Quotient,Fire_Audit,Liquor_License_Obtained,Situated_in_a_Multi_Complex,Dedicated_Parking,Open_Sitting_Available,...,Staff_Responsivness,Value_for_Money,Hygiene_Rating,Food_Rating,Overall_Restaurant_Rating,Ambience,Lively,Service,Comfortablility,Privacy
Registration_Number,,,,,,,,,,,,,,,,,,,,,
60001,42000000,Near Business Hub,84.3,Not Specific,95.8,True,True,True,False,True,...,5,5,5,7,10.0,8.0,8,6,6,6
60002,50000000,Near Party Hub,85.4,Tier A Celebrity,85.0,True,True,True,True,False,...,6,6,7,8,9.0,5.0,7,7,3,8
60003,32500000,Near Business Hub,85.0,Tier A Celebrity,68.2,True,True,True,True,False,...,6,5,3,7,8.0,7.0,10,5,2,8
60004,110000000,Near Party Hub,85.6,Tier A Celebrity,83.6,False,True,True,True,True,...,6,5,6,8,9.0,7.0,7,4,3,5
60005,20000000,Near Party Hub,NaN,Tier A Celebrity,76.8,True,True,True,True,True,...,5,6,4,8,6.0,NaN,6,2,4,6

In [4]:
df_train.Facebook_Popularity_Quotient.fillna(df_train.Facebook_Popularity_Quotient.median(), inplace=True)
df_train.Instagram_Popularity_Quotient.fillna(df_train.Instagram_Popularity_Quotient.mean(), inplace=True)
df_train.Resturant_Tier.fillna(df_train.Resturant_Tier.mode()[0], inplace=True)
df_train.Overall_Restaurant_Rating.fillna(df_train.Overall_Restaurant_Rating.median(), inplace=True)
df_train.Ambience.fillna(df_train.Ambience.median(), inplace=True)
#df_train = pd.get_dummies(df_train, columns=['Restaurant_Location','Endorsed_By','Resturant_Tier','Restaurant_Type'], drop_first=True)

In [5]:
df_train = pd.get_dummies(df_train, columns=['Restaurant_Location','Endorsed_By','Resturant_Tier','Restaurant_Type'], drop_first=True)

In [6]:
df_train.head()

,Annual_Turnover,Facebook_Popularity_Quotient,Instagram_Popularity_Quotient,Fire_Audit,Liquor_License_Obtained,Situated_in_a_Multi_Complex,Dedicated_Parking,Open_Sitting_Available,Restaurant_Zomato_Rating,Restaurant_City_Tier,...,Service,Comfortablility,Privacy,Restaurant_Location_Near Party Hub,Endorsed_By_Not Specific,Endorsed_By_Tier A Celebrity,Resturant_Tier_2.0,Restaurant_Type_Buffet/Family Restaurant,Restaurant_Type_Caffee,Restaurant_Type_Gastro Bar
Registration_Number,,,,,,,,,,,,,,,,,,,,,
60001,42000000,84.3,95.8,True,True,True,False,True,3,False,...,6,6,6,False,True,False,True,False,False,False
60002,50000000,85.4,85.0,True,True,True,True,False,3,False,...,7,3,8,True,False,True,True,False,False,False
60003,32500000,85.0,68.2,True,True,True,True,False,3,False,...,5,2,8,False,False,True,True,False,False,False
60004,110000000,85.6,83.6,False,True,True,True,True,3,True,...,4,3,5,True,False,True,False,False,False,False
60005,20000000,79.0,76.8,True,True,True,True,True,3,False,...,2,4,6,True,False,True,True,False,False,False

In [7]:
# convert all boolean values to 0 and 1 in a for loop
for col in df_train.columns:
    if df_train[col].dtype == 'bool':
        df_train[col] = df_train[col].astype(int)

df_train.head()

,Annual_Turnover,Facebook_Popularity_Quotient,Instagram_Popularity_Quotient,Fire_Audit,Liquor_License_Obtained,Situated_in_a_Multi_Complex,Dedicated_Parking,Open_Sitting_Available,Restaurant_Zomato_Rating,Restaurant_City_Tier,...,Service,Comfortablility,Privacy,Restaurant_Location_Near Party Hub,Endorsed_By_Not Specific,Endorsed_By_Tier A Celebrity,Resturant_Tier_2.0,Restaurant_Type_Buffet/Family Restaurant,Restaurant_Type_Caffee,Restaurant_Type_Gastro Bar
Registration_Number,,,,,,,,,,,,,,,,,,,,,
60001,42000000,84.3,95.8,1,1,1,0,1,3,0,...,6,6,6,0,1,0,1,0,0,0
60002,50000000,85.4,85.0,1,1,1,1,0,3,0,...,7,3,8,1,0,1,1,0,0,0
60003,32500000,85.0,68.2,1,1,1,1,0,3,0,...,5,2,8,0,0,1,1,0,0,0
60004,110000000,85.6,83.6,0,1,1,1,1,3,1,...,4,3,5,1,0,1,0,0,0,0
60005,20000000,79.0,76.8,1,1,1,1,1,3,0,...,2,4,6,1,0,1,1,0,0,0

In [8]:
# first, import intelex and patch
from sklearnex import patch_sklearn
patch_sklearn()

# to split the data into train and test
from sklearn.model_selection import train_test_split

# to build linear regression_model
from sklearn.linear_model import LinearRegression

# to check model performance
from sklearn.metrics import mean_squared_error

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [9]:
x = df_train.drop(columns=['Annual_Turnover'])
y = df_train['Annual_Turnover']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [10]:
# intialize the model to be fit and fit the model on the train data

regression_model = LinearRegression()
regression_model.fit(x_train, y_train)

/home/tinlong/anaconda3/envs/dataspell/lib/python3.11/site-packages/daal4py/sklearn/utils/validation.py:239: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  not array.dtypes.apply(is_sparse).any():

LinearRegression()

In [11]:
print(
    "The score (R-squared) on the training set is ",
    regression_model.score(x_train, y_train),
)

The score (R-squared) on the training set is  0.10989774103058536

In [12]:
print(
    "The score (R-squared) on the test set is ", regression_model.score(x_test, y_test)
)

The score (R-squared) on the test set is  0.06755913295295113

In [13]:
# defining a function to compute different metrics to check performance of a classification model built using sklearn
def model_performance_classification_sklearn(model, predictors, target):
    """
    Function to compute different metrics to check classification model performance

    model: classifier
    predictors: independent variables
    target: dependent variable
    """

    # predicting using the independent variables
    pred = model.predict(predictors)

    acc = accuracy_score(target, pred)  # to compute Accuracy
    recall = recall_score(target, pred)  # to compute Recall
    precision = precision_score(target, pred)  # to compute Precision
    f1 = f1_score(target, pred)  # to compute F1-score

    # creating a dataframe of metrics
    df_perf = pd.DataFrame(
        {"Accuracy": acc, "Recall": recall, "Precision": precision, "F1": f1,},
        index=[0],
    )

    return df_perf

In [14]:
from sklearn.model_selection import GridSearchCV

# To get diferent metric scores


from sklearn.metrics import (
    f1_score,
    accuracy_score,
    recall_score,
    precision_score,
    confusion_matrix,
    roc_auc_score,
    ConfusionMatrixDisplay,
    precision_recall_curve,
    roc_curve,
    make_scorer,
)